{% extends 'base.html.twig' %}

{% block main %}

    <div class="container col-12">
        <div class="row" style="min-height:100vh">
            {% block infoPanel %}
                    {% include './user/info-panel.html.twig' %}
            {% endblock %}
                
                {% block content %}
                <div class="col animated jackInTheBox" style="display:flex;flex-direction:column;align-items:center;justify-content:center">
                    {% if is_granted('ROLE_COMPANY') %}
                        <h1 class="logo-company" style="font-size:9rem;font-weight:bold;">Platform taxi</h1>
                    {% elseif is_granted('ROLE_DRIVER') %}
                        <h1 class="logo-driver" style="font-size:9rem;font-weight:bold;">Platform taxi</h1>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
    





{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

