{% extends 'base.html.twig' %}

{% block main %}

    <div class="row row-lg_12" style="min-height:100vh">
        {% block infoPanel %}
                {% include './company/info-panel.html.twig' %}
        {% endblock %}
            {% block content %}

    
        {% endblock %}
    </div>





{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

