{% extends 'base.html.twig' %}

{% block main %}

    <div class="row" style="min-height:100vh">
        {% block infoPanel %}
                {% include './company/info-panel.html.twig' %}
        {% endblock %}
            {% block content %}
            <div class="col" style="display:flex;flex-direction:column;align-items:center;justify-content:center">
                <h1 style="font-size:9rem;font-weight:bold;">Platform taxi</h1>
            </div>
        {% endblock %}
    </div>





{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

