{% extends 'base.html.twig' %}
{% block main %}
<div style="padding:20px;width:30%">
    <div style="padding:30px;border:1px solid rgba(0,0,0,0.1);border-radius:3px">
        <h1 style="border-radius:3px;background:#263238;color:#fff;padding:20px">¡Buenas {{ username }}!</h1>
        <p style="font-size:1.2rem;padding:20px;color:#263238">¿Listo para cambiar tu contraseña? pulsa en el siguiente botón para cambiarla</p>
        <a style="font-size:1.2rem;text-decoration:none;border-radius:5px;padding:10px;font-weight:bold;background:#263238; color:#fff" href="{{ url }}">Confirmar</a>
    </div>
</div>

{% endblock %}