{% extends './user/panel.html.twig' %}

{% block content %}
<div class="col col-lg-10 animated fadeIn slow" style="padding:0px 20px">
    {% include 'company/edit-company.html.twig' %}
</div>
{% endblock %}