{% extends 'base.html.twig' %}

{% block main %}
    <main>
        <div class="container col-lg-12" style="padding:0px 30px;min-height:100vh;display:flex;align-items:center;" >
            <div class="card col-lg-7 offset-lg-2">
               
                <div class="card-body" style="padding:0px">

                <div class="row" style="background:#263238;color:#fff">
                    <h1  style="font-weight:bold; padding:20px">Platform Taxi Proyect</h1>
                </div>

                <div class="col" style="padding:30px">
                    <h3 style="font-weight:bold; padding:10px">Añadir coche</h3>

                        <div class="form-group">
                            <label for="plate"  class="boldText">Matrícula</label>
                            <input required name="plate" type="plate" class="form-control" id="plate" aria-describedby="emailHelp" placeholder="Introduce la matrícula">
                        </div>
                        <div class="form-group">
                            <label for="trademark" class=" boldText">Marca</label>
                            <input required name="trademark" type="text" class="form-control" id="trademark" placeholder="Introduce la marca">
                        </div>

                        <div class="form-group">
                            <label for="model" class=" boldText">Modelo</label>
                            <input required name="model" type="text" class="form-control" id="model" placeholder="Introduce el modelo">
                        </div> 

                        <div class="form-group">
                            <label for="version" class=" boldText">Versión</label>
                            <input required name="version" type="tel" class="form-control" id="version" placeholder="Introduce la versión">
                        </div>

                        <div>
                            <label for="state" class=" boldText">Estado</label>
                            <select class="form-control" style="margin-bottom:20px" name="state" id="state">
                                <option value="Disponible">Disponible</option>                                
                                <option value="Averiado">Averiado</option>
                                <option value="En reparación">En reparación</option>                                
                            </select>

                        </div>

                        <button   class="btn" style="background:#263238;color:#fff;font-weight:bold;font-size:1.1rem" id="btnRegister">Registrar</button>
                </div>
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>

    $('#btnRegister').click(()=>{
            $.ajax({
                url: "{{ path('add_car') }}",
                type: 'POST',
                dataType: 'json',
                data: { 
                    plate: $('#plate').val() , 
                    trademark: $('#trademark').val(), 
                    model: $('#model').val(), 
                    version: $("#version").val(),
                    state: $("#state").val(),
                    idCompany: {{ companyId }}
                },
                success: function(result){

                    if (!result.status){
                        Swal.fire(
                        result.message,
                        "",
                        "error"
                        )       
                        console.log(result);       
                    }else{
                        Swal.fire(
                        result.message,
                        "",
                        "success"
                        )    

                        //setTimeout(function(){ window.location.href = "login" }, 1500);
                        
                    }
                    
                    
                },
            });
    });
</script>

{% endblock %}