{% extends 'base.html.twig' %}

{% block main %}
    <main>
        <div class="container col-lg-12 col-sm-12 background-city" style="padding:50px;min-height:100vh;display:flex;align-items:center;" >
            <div class="card col-lg-4 offset-lg-4 transparent  animated jackInTheBox">
                <div class="card-body">
                 <h1 class="text-light" style="font-weight:bold; padding:10px">Platform Taxi</h1>
                        <h2 class="text-light boldText" style="font-size:1.7rem">Recuperar contraseña<h3>
                        <div class="form-group">
                            <label for="email" class="text-light boldText">Email</label>
                            <input required name="email" type="email" class="form-control inputTransparent" id="email" placeholder="Introduzca su email">
                        </div>
                        <button class="btn" style="background:rgba(255, 255, 255, .9);color:#263238;font-weight:bold;font-size:1.1rem" id="btnForgetPassword">Recuperar</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
    $('#btnForgetPassword').click(()=>{
            
            {# let urlAjax = "{{ path('send_forget_password') }}";
                    $.ajax({
                    url: urlAjax,
                    dataType: 'json',
                    data: { 
                        email: $('#email').val()
                    },
                    success: function(result){

                        if (!result.status){
                            Swal.fire(
                            result.message,
                            "",
                            "error"
                            )      
                        }else{
                            Swal.fire(
                            result.message,
                            result.text,
                            "success"
                            )    
                        }
                        
                        
                    }
                }); #}
    });
    </script>
{% endblock %}