{% extends 'base.html.twig' %}

{% block main %}
    <main>
        <div class="container col-lg-12 col-sm-12 background-city" style="padding:50px;min-height:100vh;display:flex;align-items:center;" >
            <div class="card col-lg-4 offset-lg-4 transparent  animated jackInTheBox">
                <div class="card-body">
                 <h1 class="text-light" style="font-weight:bold; padding:10px">Platform Taxi</h1>
                        <h2 class="text-light boldText" style="font-size:1.7rem">Recuperar contraseña<h3>
                         <div class="form-group">
                            <label for="password1" class="text-light boldText">Introduzca su nueva contraseña</label>
                            <input required name="password" type="password" class="form-control inputTransparent" id="password1" placeholder="Introduce contraseña">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="text-light boldText">Introduzca de nuevo su nueva contraseña</label>
                            <input required name="password2" type="password" class="form-control inputTransparent" id="password2" placeholder="Introduce contraseña">
                        </div>
                        <button id="btnRecoveryPassword" class="btn" style="background:rgba(255, 255, 255, .9);color:#263238;font-weight:bold;font-size:1.1rem">Cambiar</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
    $('#btnRecoveryPassword').click(()=>{
             let urlAjax = "{{ path('password_reset_change') }}";
                    $.ajax({
                    url: urlAjax,
                    type: 'POST',
                    dataType: 'json',
                    data: { 
                        password1: $('#password1').val(),
                        password2: $('#password2').val(),
                        email: '{{email}}',
                        tokenPassword: '{{tokenPassword}}'
                    },
                    success: function(result){

                        if (!result.status){
                            Swal.fire(
                            result.message,
                            "",
                            "error"
                            )      
                        }else{
                            Swal.fire(
                            result.message,
                            "",
                            "success"
                            )    
                        }
                        
                        
                    }
                }); 
    });
    </script>
{% endblock %}